



<h1>Financial Aid</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-1">
			<strong>Year</strong>
		</div>
		<div class="col-sm-2">
		<strong>Package Name</strong>
		</div>
		<div class="col-sm-1">
			<strong>Amount</strong>
		</div>
	</div>

<% @aids.select(:year).distinct.order(:year).each do |ay| %>
	<div class="row">
		<div class="col-sm-1">	
        		<%= ay.year %>
        </div>
    </div>
    <% @aids.where(year: ay.year).each do |aid| %>
    	<div class="row">
    		<div class="col-sm-1">	
        	</div>
			<div class="col-sm-2">
				<%= aid.package_name %>
	        </div>
			<div class="col-sm-1">			
				<%= aid.amount %>
			</div>
		</div>
		<% end %>
    <% end %>
</div>


